.imagenFondo{
    height: 75vh;
};

.fondoButtons{
    margin: 0;
    padding: 0;
    width: auto;
    background-image: url( '../images/Componente236.png');
    background-position: center;
    background-clip: inherit;
};
.camaraResponsive{
    height: 100%;
    width: 100%;
}

@media only screen and (max-device-width : 640px) {
    .webcamCapture {
        position:fixed;
        height:100%;
        width:100%;
   }
}
@media only screen and (max-device-width: 768px) {
    .webcamCapture {
        position:fixed;
        height:100%;
        width:100%;
    }
   .imagenFondo{
        height: 65vh;
    };
}


