.imagenFondo{
    height: 80vh;
}

.fondoButtons{
    margin: 0;
    padding: 0;
    width: auto;
    background-image: url( '../images/Componente236.png');
    background-position: center;
    background-clip: inherit;
}

@media only screen and (max-device-width : 640px) {
    .webcamCapture {
        position:fixed;
        height:100%;
        width:100%;
   }
}
@media only screen and (max-device-width: 768px) {
    .webcamCapture {
        position:fixed;
        height:100%;
        width:100%;
   }
}

/* @media only screen and (max-width: 600px) {
    .imagenFondo{
        height: 63vh;
    }
} */

